.App {
  text-align: center;
  background-color: darkgray;
  
}



.App-header {
  min-height: 10vh;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;


  grid-gap: 50px 100px;
  margin-right: 22px;
  margin-left: 22px;
}

.obrazek{
  height: 250px;
  border-radius: 10%;
}


.grid-container > div{
  justify-content:left;

}

.Footer {
  position: fixed;
  bottom: 0;
  
  left: 0;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  
  
  background-color: rgb(24, 14, 14);
  color: azure;
  margin: auto;
font-size: 15px;

}

.text{
  justify-content: left;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 200px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(24, 14, 14);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
